<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/content/keyboard-dark.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/hacker.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap-tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap-datepicker3.standalone.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap-dialog.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/selectize.default.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/tree-style.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/xp-bar-styles.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />

    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="/static/scripts/moment.min.js"></script>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/jstree.min.js"></script>
    <script src="/static/scripts/bootstrap-datepicker.min.js"></script>
    <script src="/static/scripts/jquery.keyboard.min.js"></script>
    <script src="/static/scripts/jquery.keyboard.extension-all.min.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    <script src="/static/scripts/bootstrap-tagsinput.js"></script>
    <script src="/static/scripts/selectize.min.js"></script>
    <script src="/static/scripts/bootstrap-dialog.min.js"></script>
    <script src="/static/scripts/login.js"></script>
</head>
<body>

    

    <button class="login-button" onclick="attemptToLogin();">Login</button>
    <button onclick="loginChallengeClicked(1);" class="login-challenge-b1">?</button>
    <button onclick="loginChallengeClicked(2);" class="login-challenge-b2">?</button>
    <button onclick="loginChallengeClicked(3);" class="login-challenge-b3">?</button>
    <button onclick="loginChallengeClicked(4);" class="login-challenge-b4">?</button>
    <button onclick="loginChallengeClicked(5);" class="login-challenge-b5">?</button>
    <button onclick="loginChallengeClicked(6);" class="login-challenge-b6">?</button>
    <button onclick="loginChallengeClicked(7);" class="login-challenge-b7">?</button>
    <button onclick="loginChallengeClicked(8);" class="login-challenge-b8">?</button>
</body>

</html>